@import "tailwindcss";

@theme {
  --color-primary: #779ECB;
  /* Pastel Blue (Darker for text/buttons) */
  --color-primary-light: #AEC6CF;
  /* Pastel Blue (Lighter) */
  --color-secondary: #B0E0E6;
  /* Powder Blue */
  --color-accent: #FFB7B2;
  /* Pastel Red/Pink for alerts */
  --color-dark: #1F2937;
  --color-light: #F0F8FF;
  /* Alice Blue */

  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-light text-gray-900 font-sans;
  }
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.2s ease-out forwards;
}

.animate-scale-in {
  animation: scaleIn 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes bounce-slow {

  0%,
  100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s infinite;
}